<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
</head>
<body>
    <header></header>
    <main>

        <form action="/add/team" method="POST">
            <!-- <label for="team">Team Name: </label> -->
            <input type="text" name="team" placeholder="Team Name" class="info" required /><br>

            <!-- <label for="formed">Formed Year: </label> -->
            <input type="text" name="formed" placeholder="Formed Year" class="info" required /><br>

            <!-- <label for="sport">Sport Type: </label> -->
            <input type="text" name="sport" placeholder="Sport Type" class="info" /><br>

            <!-- <label for="league">League: </label> -->
            <input type="text" name="league" placeholder="League" class="info" /><br>

            <!-- <label for="staduim">Stadium: </label> -->
            <input type="text" name="staduim" placeholder="Stadium" class="info" /><br>

            <!-- <label for="staduimImg">Stadium Picture: </label> -->
            <textarea name="staduimImg" placeholder="Stadium Picture" class="info" ></textarea><br>

            <!-- <label for="staduimLocation">Location: </label> -->
            <input type="text" name="staduimLocation" placeholder="Staduim Location" class="info" /><br>

            <!-- <label for="website"> Website: </label> -->
            <textarea name="website" placeholder="Website (URL)" class="info" ></textarea><br>

            <!-- <label for="teamDescription">Team Description: </label> -->
            <textarea name="teamDescription" placeholder="Team Description" class="info" ></textarea><br>

            <!-- <label for="badge">Badge: </label> -->
            <textarea name="badge" placeholder="Badge (Image)" class="info" ></textarea><br>

            <!-- <label for="logo">Logo: </label> -->
            <textarea name="logo" placeholder="Logo (Image)" class="info" ></textarea><br>

            <!-- <label for="clothes">Clothes Image: </label> -->
            <textarea name="clothes" placeholder="Clothes Image" class="info" ></textarea><br>

            <button type="submit">Add This Team</button>
        </form>

    </main>
    <footer></footer>
</body>
</html>