<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/2257/2257048.svg" />
</head>
<body>
    <header>
        
    </header>
    <main>
        <form action="/searches/show" method="POST">
            <input type="text" placeholder="Enter a Team Name" name="search" required>
            
            <button>Search Team</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>