<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/base.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/modules.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">

    <title>about us</title>

   
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/2257/2257048.svg" />
</head>
<body>
    <header>
        <%- include ('../layout/header') %>

    </header>
    <main>


        <h3>About Us</h3>
        <p class="content-p">We are a group that have been born by a coincidence, but the harmony developed between us once we
          started working on this app. We are passionate about what we do, and we always want to learn more. We aim to
          introduce awesome application for soccer lovers who are searching for a source for football teams informations .Our group is super
          productive along the way, we take care of our application from all aspects. We create data, content, 
          functionality in the application, design, and everything. In conclusion, you would not have to worry about anything!</p>
    

          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img id="potos" src="https://wallpaperplay.com/walls/full/9/e/0/214637.jpg" alt="OSAMA" style="width: 100%; height: 100%;">
      
              </div>
              <div class="flip-box-back">
                <h2 id="name">Osama Yousef </h2>
                <p id="description">I am a civil engineering graduate from J.U.S.T university <br> <br> Highly-motivated and
                  ambitious person <br> <br> I have outgoing personality and love hanging out a lot </p>
              </div>
            </div>
          </div>


        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img id="potos" src="https://wallpaperplay.com/walls/full/9/e/0/214637.jpg" alt="ANAS" style="width: 100%; height: 100%;">
    
            </div>
            <div class="flip-box-back">
              <h2 id="name">Anas Zain</h2>
              <p id="description">   <br>    <br>     <br>    <br>
                 <br>     <br>  <br>   </p>
            </div>
          </div>
        </div>
    
    
    
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img id="potos" src="https://wallpaperplay.com/walls/full/9/e/0/214637.jpg" alt="RAGHAD" style="width: 100%; height: 100%;">
    
            </div>
            <div class="flip-box-back">
              <h2 id="name"> Raghad Quraan </h2>
              <p id="description">   <br>   <br>    <br>  <br>
                   <br> </p>
            </div>
          </div>
        </div>
    
    
         <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img id="potos" src="https://wallpaperplay.com/walls/full/9/e/0/214637.jpg" alt="ESRAA" style="width: 100%; height: 100%;">
    
            </div>
            <div class="flip-box-back">
              <h2 id="name">Esraa </h2>
              <p id="description">      <br>      <br>  
                <br>     </p>
            </div>
          </div>
        </div> 
      
    </main>
    <footer>
        <%- include ('../layout/footer') %>

    </footer>
</body>
</html>