<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoot-Ha</title>
</head>

<body>
    <header>

    </header>
    <main>
        <% teamRender.forEach(result => { %>
        <section id="section">
            <img id="rendImg" src="<%- result.thumbnail %>">
            <p><%- result.title %></p>
        </section>
        <% }) %>
    </main>
</body>

</html>