@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital@1&family=Girassol&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital@1&family=Girassol&family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Girassol&family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Girassol&family=Indie+Flower&family=Lobster&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Girassol&family=Indie+Flower&family=Lobster&family=New+Rocker&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Lobster&family=New+Rocker&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Lobster&family=Mystery+Quest&family=New+Rocker&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Kavoon&family=Lobster&family=Mystery+Quest&family=New+Rocker&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Kavoon&family=Lakki+Reddy&family=Lobster&family=Mystery+Quest&family=New+Rocker&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lora&family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Josefin+Sans:wght@700&family=Lora&family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');




@media (min-width:320px){
    p.from-render{
        font-size: 20px;
        font-family: 'Racing Sans One', cursive;
        display: block;

    
    }
    section#section{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-left: 11%;

}
img#rendImg {
    width: 100px;
    height: 100px;
    background-color: grey;

}
    
    .topnav {
    overflow: hidden;
    position: relative;
    background-color: #232e0fe0;
    width: 43%;
    margin: 0 auto;
    margin-top: -11%;
    margin-left: 68%;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  .topnav a.icon {
   /* background: black;*/
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2.7%;
    width: 5px;
    height: 14px;
    line-height: 0px;
    padding-top: 2px;
  }
  .topnav a:hover {
    /* background-color: rgb(134, 134, 134); */
    color: white;
  }
  .active {
  /*  background-color: black;*/
    color: white;
  }
  
    h2{
      color: white;
      background-color: #774f5400;
      font-family: 'Rock Salt', cursive;
      margin-top: -12px;
      font-size: 16px;
      padding-top: 8%;
      padding-left: 8%;

  
  }
  
    .menu-btn__line {
      display: block;
      background-color: #774f5491;
      color: gray;
    }
    button{
      background: white;
      margin: 1.5px;
      padding-right: 2px;
      padding: 1px 4px 0px 12px;
      margin-left: -7px;
    }
    /* for dia header*/
  
    html { box-sizing: border-box 
    }
  *, *::after, *::before { box-sizing: inherit }
  
  body{
      height: 1000px;
      font-family: 'Rock Salt', cursive;
  }
  header {
    width: 100%;
    height: 100%;
      margin: 0 auto;
      background-color: #6c744b;
      min-height: 150px;
      position: relative;
      padding: 2em;
      font-family: 'Aclonica', sans-serif;
    }

  /* The footer */

  footer {
    width: 100%;
    background-color: #0e0e09c7;
    height: 340px;
    color: white;
        margin-top: -22%;

}
    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
  
  body { background-color: #eee; }
  
  .footer-social-links{
    font-size: 14px;
    text-align: center;
    margin-top: 20%;
    border-top: solid;
    border-bottom: solid;
  }
  .footer-social-links a {
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: white;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    margin-bottom: 28px;
    margin-top: 24px;
  }
  .footer-social-links a i,
  .footer-social-links a span{
      position: relative;
      top: 2px;
      left: 1px; 
  }
  .footer-social-links a:before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #111;
      
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      
      -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
      -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      
  }
  .footer-social-links a:hover{
      color: #fff;
  }
  .footer-social-links a:hover:before{
      background: #111;
  }
  
   /* Names of the teams */
    .team-1 p{
      font-size: 20px;
      font-family: 'Kavoon', cursive;
      font-weight: bolder;
      margin-left: 28px;
      margin-top: 9%;    }
    .team-2 p{
      font-size: 23px;
      font-family: 'Allan', cursive;
      margin-left: 20px;
      margin-top: 71px;
      font-weight: bolder;
      margin-bottom: 1px;
  
    }
    .team-3 p {
      font-size: 20px;
      font-weight: bolder;
      font-family: 'Peralta', cursive;
      margin-left: 64%;
      margin-top: -50px;
  }
  .team-4 p {
    font-size: 23px;
    font-weight: bolder;
    font-family: 'Condiment', cursive;
    margin-left: 46%;
  }
    .team-5 p{
      font-size: 20px;
      font-weight: bolder;
      font-family: 'Lobster', cursive;
      margin-left: 58%;
      padding-top: 5%;    }
    .team-6 p{
      font-size: 20px;
      font-weight: bolder;
      font-family: 'New Rocker', cursive;
      margin-left: 399px;
      margin-top: 15px;
    }
    .team-7 p{
      font-family: 'Lakki Reddy', cursive;
      font-size: 20px;
      font-weight: bolder;
      margin-left: 72%;
  
    }
    main img{
      width: 100%;
      float: left;
      clear: both;
    }
    p.main-description {
      width: 61%;
      margin-top: 0%;
      margin-left: -6%;
        padding: 15px;
        font-family: 'Josefin Sans', sans-serif;
        padding-top: 2px;
        letter-spacing: 1px;
        word-spacing: -3px;
        text-align: justify;
        text-justify: inter-word;
    }
  /* slide-show */
  #slides{
    position: relative;
    height: 500px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-top: 155%;
    margin-bottom: 34%;

}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing{
    opacity: 1;
    z-index: 2;
}
.slide{
    font-size: 30px;
    padding: 40px;
    margin-top: 75%;
    color: #fff;
    margin-top: 73%;
}
.slide:nth-of-type(1){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Player-Motivational-Quotes-Luis-Suarez.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.slide:nth-of-type(2){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Coaching-Training-Sessions.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.slide:nth-of-type(3){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Motivation-Quotes-Lionel-Messi.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.slide:nth-of-type(4){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Goalkeeper-Training-Sessions-Thierry-Henry.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.slide:nth-of-type(5){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Wayne-Rooney-Soccer-Photo-Image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#home-button {
  background-color: #bd560d;
  padding: 7px;
  color: white;
  font-size: 19px;
  margin: 0 auto;
  margin-bottom: 9px;
}
p.from-render {
  font-size: 21px;
  width: 86%;
  text-align: center;
  margin-top: 0 auto;
  margin: 0 auto;
  padding: 10px;
  font-family: 'New Rocker', cursive;
}
img.rendered-img {
  margin: 0 auto;
  padding: 18px;
  width: 72%;

}
div#container {
  display: flex;
  flex-direction: column;
}
section div {
    width: 75%;
    height: 0px;
    position: relative;
    padding-bottom: 56.250%;
    margin: 0 auto;
}
.container-p {
  position: relative;
  text-align: left;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.ml15 {
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    margin-left: 5%;
    color: white;
    margin-top: -244%;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
  font-family: 'Kaushan Script', cursive;


}
.ml16 {
  color: white;
  padding: 40px 0;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  margin-top: -450%;
  margin-top: 27%;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
  font-family: 'Kaushan Script', cursive;
}
p.ml16.main-description.top-left {
  margin-left: -1%;
  background-color: #e85a2b3b;
  margin-top: 27%;
  padding: 6%;
  word-spacing: 8px;
  width: 60%;
}
main#showMain {
  background-color: #dae8cc;}

}

@media (min-width:769px){
  
p{
    font-size: 20px;
    font-family: 'Racing Sans One', cursive;

}
  /* .topnav {
    overflow: hidden;
    position: relative;
    background-color: #232e0fe0;
    width: 105%;
    margin: 0 auto;
    margin-top: -32px;
    margin-left: -31px;

  }
  .topnav #myLinks {
    display:none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -4px;
    width: 5px;
    height: 14px;
    line-height: 0px;
    padding-top: 2px;
  }
  .topnav a:hover {
    color: white;
  }
  .active {
    color: white;
  }
  
    h2{
      font-size: 36px;
      padding: 1%;
      color: white;
      background-color: #774f5400;
      margin-top: -18px;
      font-family: 'Kaushan Script', cursive;
  }
  
    .menu-btn__line {
      display: block;
      background-color: #774f5491;
      color: gray;
    }
    button{
      background: white;
      margin: 1.5px;
      padding-right: 2px;
      padding: 1px 4px 0px 12px;
      margin-left: -7px;
    } */
    /* for dia header*/
  
    html { box-sizing: border-box 
    }
  *, *::after, *::before { box-sizing: inherit }
  
  body{
      height: 1000px;
      font-family: 'Rock Salt', cursive;
  }
  header {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-color: #6c744b;
      min-height: 150px;
      position: relative;
      padding: 2em;
      font-family: 'Aclonica', sans-serif;
    }

  /* The footer */
  footer {
    width: 100%;
    background-color: #0e0e09c7;
    height: 426px;
    color: white;
    margin-top: -21%;
}
    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
  
  body { background-color: #eee; }
  
  .footer-social-links{
    font-size: 17px;
    text-align: center;
    margin-top: 20%;
  }
  .footer-social-links a {
    width: 27px;
    height: 27px;
    line-height: 27px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    margin-bottom: 28px;
    margin-top: 24px;
    color: white;

  }
  .footer-social-links a i,
  .footer-social-links a span{
      position: relative;
      top: 2px;
      left: 1px; 
      color: white;

  }
  .footer-social-links a:before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #111;
      
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      
      -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
      -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      
      
  }
  .footer-social-links a:hover{
      color: #fff;
  }
  .footer-social-links a:hover:before{
      background: #111;
  }
  
  /* Names of the teams */
  .team-1 p {
    font-size: 30px;
    font-family: 'Kavoon', cursive;
    font-weight: bolder;
    margin-left: 182px;
    margin-top: 57px;
}
.team-2 p {
  font-size: 30px;
  margin-left: 22%;
  font-family: 'Lakki Reddy', cursive;
  margin-top: 73px;
  font-weight: bolder;
  margin-bottom: 1px;
}
    .team-3 p {
      font-size: 30px;
      font-weight: bolder;
      font-family: 'Peralta', cursive;
      margin-left: 64%;
      margin-top: -50px;
    }
  .team-4 p {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Condiment', cursive;
    margin-left: 46%;
}
  .team-5 p {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    margin-left: 58%;
}
    .team-6 p {
      font-size: 30px;
      font-weight: bolder;
      font-family: 'New Rocker', cursive;
      margin-left: 399px;
      margin-top: -29px;
    }
  .team-7 p {
    font-family: 'Lakki Reddy', cursive;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 72%;
}
main img{
  width: 50%;
  float: left;
  clear: both;
  margin-left: 0px;

}
p.main-description {
  margin-left: 65%;
  font-size: 24px;
  padding: 15px;
  font-family: 'Bangers', cursive;
  padding-top: 65px;
  line-height: 1.5em;
  width: 500px;
}
#slides{
    position: relative;
    height: 1700px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-top: 36%;

}
.slide{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.showing{
    opacity: 1;
    z-index: 2;
}
.slide{
    font-size: 30px;
    padding: 40px;
    color: #fff;
    margin-top: 60px;
}
.slide:nth-of-type(1){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Player-Motivational-Quotes-Luis-Suarez.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.slide:nth-of-type(2){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Coaching-Training-Sessions.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.slide:nth-of-type(3){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Motivation-Quotes-Lionel-Messi.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.slide:nth-of-type(4){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Soccer-Goalkeeper-Training-Sessions-Thierry-Henry.jpg);
    background-repeat: no-repeat;
    background-size: contain;  
}
.slide:nth-of-type(5){
    background-image: url(https://coachestrainingroom.com/wp-content/uploads/2016/03/Wayne-Rooney-Soccer-Photo-Image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
li.slide {
  margin-top: 27%;
}


p.main-description {
    margin-left: 50%;
    padding-top: 11%;
}

#home-button {
  background-color: #bd560d;
  padding: 17px;
  color: white;
  font-size: 22px;
  width: 14%;
  margin: 0 auto;
  margin-bottom: 66px;

}
p.from-render {
  font-size: 40px;
  width: 79%;
  text-align: center;
  margin-top: 0 auto;
  margin: 0 auto;
  padding: 55px;
  font-family: 'New Rocker', cursive;

}
img.rendered-img {
  margin: 0 auto;
  padding: 30px;
  width: 50%;
  margin-top: 10%;

}
div#container {
  display: flex;
  flex-direction: column;
}
section div {
  margin: 0 auto;
}
.ml15 {
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-left: 5.9%;
  color: white;
    margin-top: -65%;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
  font-family: 'Kaushan Script', cursive;
}
.ml16 {
  color: white;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  margin-top: -450%;
  left: 0px;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
  font-family: 'Kaushan Script', cursive;
}
p.ml16.main-description.top-left {
  margin-left: 5%;
  background-color: #e85a2b3b;
    margin-top: 9%;
    padding: 3%;
    word-spacing: 8px;
    width: 40%;
}

.fa {
    display: inline-block;
    font: normal normal normal 20px/4 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}
#my-header li {
display: inline-block;
background-color: #0e0e09c7;
padding: 10px;
}
#my-header li a {
  text-decoration: none;
  color: white;
  padding: 15px;

}
h2{
  display: none;

}
}