
  /* The footer */
  footer {
    width: 100%;
    background-color: #46453e;
    height: 426px;
    color: white;
    margin-top: -21%;
}
    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
    
  .footer-social-links{
    font-size: 17px;
    text-align: center;
  }
  .footer-social-links a {
    width: 27px;
    height: 27px;
    line-height: 27px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    margin-bottom: 28px;
    margin-top: 24px;
    color: white;

  }
  .footer-social-links a i,
  .footer-social-links a span{
      position: relative;
      top: 2px;
      left: 1px; 
      color: white;

  }
  .footer-social-links a:before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #111;
      
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      
      -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
      -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      
      
  }
  .footer-social-links a:hover{
      color: #fff;
  }
  .footer-social-links a:hover:before{
      background: #111;
  }
  
  /* Names of the teams */
  .team-1 p {
    font-size: 30px;
    font-family: 'Kavoon', cursive;
    font-weight: bolder;
    margin-left: 182px;
    margin-top: 57px;
}
.team-2 p {
  font-size: 30px;
  margin-left: 22%;
  font-family: 'Lakki Reddy', cursive;
  margin-top: 73px;
  font-weight: bolder;
  margin-bottom: 1px;
}
    .team-3 p {
      font-size: 30px;
      font-weight: bolder;
      font-family: 'Peralta', cursive;
      margin-left: 64%;
      margin-top: -50px;
    }
  .team-4 p {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Condiment', cursive;
    margin-left: 46%;
}
  .team-5 p {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    margin-left: 58%;
}
    .team-6 p {
      font-size: 30px;
      font-weight: bolder;
      font-family: 'New Rocker', cursive;
      margin-left: 399px;
      margin-top: -29px;
    }
  .team-7 p {
    font-family: 'Lakki Reddy', cursive;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 72%;
}