img#badge {
    width: 25%;
    float: right;
    padding: 54px 124px 0px 0px;
    margin-top: 59px;

}

img#logo {
    margin: 29px 13px 15px 0px;
}
section#section {
    text-align: center;
    background-color: #a5b78096;
    margin-bottom: 33px;
    padding-bottom: 20px;
}
p#description {
    width: 750px;
    margin: 30px 0px 0px 96px;
    font-size: 20px;
}

img#clothes {
    float: right;
    margin: -320px 0px 0px 0px;
}
img#clothes {
    float: right;
    margin: -517px 26px 0px 0px;
}
