
 @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Bangers|Crete+Round&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
 @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
 @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Indie+Flower&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital@1&family=Girassol&family=Indie+Flower&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital@1&family=Girassol&family=Indie+Flower&family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Girassol&family=Indie+Flower&family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Girassol&family=Indie+Flower&family=Lobster&family=Peralta&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Girassol&family=Indie+Flower&family=Lobster&family=New+Rocker&family=Peralta&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Lobster&family=New+Rocker&family=Peralta&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Lobster&family=Mystery+Quest&family=New+Rocker&family=Peralta&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Kavoon&family=Lobster&family=Mystery+Quest&family=New+Rocker&family=Peralta&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Comic+Neue:ital,wght@1,400;1,700&family=Condiment&family=Girassol&family=Indie+Flower&family=Kavoon&family=Lakki+Reddy&family=Lobster&family=Mystery+Quest&family=New+Rocker&family=Peralta&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Racing+Sans+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lora&family=Mukta:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alice&family=Josefin+Sans:wght@700&family=Lora&family=Mukta:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
 
@media (min-width: 320px){
    section#section {
        /* font-family: 'Bangers', cursive; */
        font-family: 'Crete Round', serif;
    }
    
    section#section {
        text-align: center;
        background-color: #a5b78096;
        /* margin-bottom: 14px; */
        margin: 34px 0px 0px 12px;
        padding-bottom: 35px;
        /* background-image: url(https://targetcareers.co.uk/sites/targetcareers.co.uk/files/public/styles/header_1500x550/public/field/image/football.jpg?itok=O1dRVOeD); */
        /* background-repeat: no-repeat; */
        background: cover;
        width: 93%;
        /* height: 628px; */
        /* background-size: cover; */
        /* background: rgb(173,228,66); */
        /* background: linear-gradient(45deg, rgba(173,228,66,1) 5%, rgba(219,226,194,1) 40%, rgba(206,214,165,1) 62%, rgba(173,242,91,1) 95%); */
        border-radius: 120px;
        /* background: radial-gradient(circle, rgb(38, 128, 62) 0%, rgb(48, 247, 137) 100%); */
        /* background: linear-gradient(90deg, rgba(140,238,166,1) 0%, rgba(134,180,182,1) 46%, rgba(23,177,67,1) 100%); */
        box-shadow: 4px 5px 14px 10px #001a004a;
        background-color: #A69580;
        
    }
    
    
    img#badge {
        width: 24%;
        /* float: right; */
        padding: 5px 0px 67px 0px;
        margin: 15px -110px 11px -120px;
        cursor: pointer;
    }
    
    img#logo {
        width: 40%;
        margin: 28% 0px 0px -2%;
        cursor: pointer;
        position: absolute;
    }
    
    img#clothes {
        float: right;
        width: 28%;
        /* position: absolute; */
        /* margin: -168px 0px 0px 895px; */
        margin: -418px 12px 0px 0px;
        cursor: pointer;
    }
    
    p#info {
        font-size: 18px;
        margin: -5px 0px 13px -10px;
    }
    a#website {
        text-decoration: none;
        color: #254b94;
        font-size: 18px;
        margin: 0px 0px 0px -4px;
    }
    
    p#description {
        width: 750px;
        /* margin: 22px 0px 0px 25px; */
        margin: 6% 0px 0px 8%;
        padding: 0 0 54px 0px;
        font-size: 20px;
        /* border: 1px solid green; */
        /* border-radius: 11px; */
        text-align: justify;
        text-justify: inter-word;
        overflow-x: hidden;
        width: 84%;
        height: 156px;
    }
    
    button {
        margin: 35px 0px 0px 0px;
        padding: 6px 6px 6px 6px;
        border: none;
        border-radius: 8px;
        font-weight: 900;
        background-color: #545449;
        color: #fff;
        cursor: pointer;
    }
    
    body{
        /* background: linear-gradient(90deg, rgba(43,47,44,1) 0%, rgba(146,153,154,1) 51%, rgba(47,51,48,1) 100%); */
        background-color: #D9D7B8;
    }
    
    }







    
/* ********************************************************************************************************************************* */




@media (min-width:769px){

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Crete+Round&display=swap');




section#section {
    /* font-family: 'Bangers', cursive; */
    font-family: 'Crete Round', serif;
}

section#section {
    text-align: center;
    padding-bottom: 35px;
    background: cover;
    width: 44%;
    border-radius: 120px;
    box-shadow: 4px 5px 14px 10px #7584754a;
    background-color: #ffffff;
    color: #020202;
    margin: 0 auto 6%;
    margin-top: 6%;
}
body {
    /* width: 100%; */
    /* height: 10px; */
    background-image: url(/public/img/newback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.95;
}





img#badge {
    width: 24%;
    /* float: right; */
    padding: 5px 0px 67px 0px;
    margin: 15px -20.8% 11px -120px;
    cursor: pointer;
}

img#logo {
    width: 15%;
    margin: 11.5% 0px 0px -3.8%;
    cursor: pointer;
    position: absolute;
}

img#clothes {
    float: right;
    width: 28%;
    /* position: absolute; */
    /* margin: -168px 0px 0px 895px; */
    margin: -487px 26px 0px 0px;
    cursor: pointer;
}

p#info {
    font-size: 24px;
    margin: -5px 0px 13px -10px;
    font-family: monospace;

}
a#website {
    text-decoration: none;
    color: #254b94;
    font-size: 18px;
    margin: 0px 0px 0px -4px;
}

p#description {
    width: 750px;
    /* margin: 3% 0 0 17%; */
    margin: 3% auto;
    padding: 0 0 54px 0px;
    font-size: 17px;
    /* border: 1px solid green; */
    /* border-radius: 11px; */
    text-align: justify;
    text-justify: inter-word;
    overflow-x: hidden;
    width: 65%;
    height: 156px;
    font-family: monospace;

}

button {
    margin: 35px 0px 0px 0px;
    padding: 11px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    background-color: #ce7810;
    color: #fff;
    cursor: pointer;
}


  /* The footer */
  footer {
    width: 100%;
    background-color: #000000;
    height: 426px;
    color: white;
    /* margin-top: 102%; */
}
    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
    
  .footer-social-links{
    font-size: 17px;
    text-align: center;
  }
  .footer-social-links a {
    width: 27px;
    height: 27px;
    line-height: 27px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    margin-bottom: 28px;
    margin-top: 24px;
    color: white;

  }
  .footer-social-links a i,
  .footer-social-links a span{
      position: relative;
      top: 2px;
      left: 1px; 
      color: white;

  }
  .footer-social-links a:before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #fffefe;
      
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      
      -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
      -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
      transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      
      
  }
  .footer-social-links a:hover{
      color: #fff;
  }
  .footer-social-links a:hover:before{
      background: #111;
  }
  
  /* Names of the teams */
  .team-1 p {
    font-size: 30px;
    font-family: 'Kavoon', cursive;
    font-weight: bolder;
    margin-left: 182px;
    margin-top: 57px;
}
.team-2 p {
  font-size: 30px;
  margin-left: 22%;
  font-family: 'Lakki Reddy', cursive;
  margin-top: 73px;
  font-weight: bolder;
  margin-bottom: 1px;
}
    .team-3 p {
      font-size: 30px;
      font-weight: bolder;
      font-family: 'Peralta', cursive;
      margin-left: 64%;
      margin-top: -50px;
    }
  .team-4 p {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Condiment', cursive;
    margin-left: 46%;
}
  .team-5 p {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    margin-left: 58%;
}
    .team-6 p {
      font-size: 30px;
      font-weight: bolder;
      font-family: 'New Rocker', cursive;
      margin-left: 399px;
      margin-top: -29px;
    }
  .team-7 p {
    font-family: 'Lakki Reddy', cursive;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 72%;
}





#my-header li {
    display: inline-block;
    background-color: #b37a34;
    padding: 10px;
    margin: 9px 0 7px 10px;

    }
    #my-header li a {
      text-decoration: none;
      color: white;
      padding: 12px;
      margin: 9px 0px 5px 8px;

    }
    .footer-social-links {
        font-size: 17px;
        text-align: center;
        border-bottom: solid;
        
        color: whitesmoke;
    }


    h2{
      display: none;
    }
    ul {
        background-color: #080808;
        padding: 17px 0px 24px 21px;
    }
}





