<div class="horizantal-line"></div>
<!-- Add font awesome icons -->
<div class="footer-social-links">
    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="#" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
    <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
</div>
<div class="team-1">
    <p>Barcelona</p>
</div>
<div class="team-7">
    <p>Manchester United</p>
</div>
<div class="team-2">
    <p>Real Madrid</p>
</div>
<div class="team-3">
    <p>Juventus</p>
</div>
<div class="team-4">
    <p>Chelsea</p>
</div>
<div class="team-5">
    <p>Arsenal</p>
</div>
<div class="team-6">
    <p>Liverpool</p>
</div>