<div class="topnav">
<<<<<<< HEAD
    <h2>Shoot-ha</h2>
    <div id="myLinks">
      <a href="/">Home</a>
      <a href="/searches/new">Search for google books API</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
=======
    <h2>shoot-ha</h2>
    <div id="myLinks">
        <a href="">Home</a>
        <a href="">Details</a>
        <a href="/search">Search</a>
        <a href="">Show</a>
        <a href="">Favourite</a>
        <a href="">About us</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
>>>>>>> f4e93572efc1e45a58e469169f13674721a2ff53
