<div class="topnav">
    <h2>shoot-ha</h2>
    <div id="myLinks">
        <a href="">Home</a>
        <a href="">Details</a>
        <a href="/search">Search</a>
        <a href="">Show</a>
        <a href="">Favourite</a>
        <a href="">About us</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>