<nav id="my-header">
    <ul>
<li><a href="/">Home</a></li>
<li><a href="/search">Search</a></li>
<li> <a href="/favourite">Favourite</a></li>
 <li> <a href="/about-us">About us</a></li>
</ul>
</nav>





<div class="topnav">
    <h2>shoot-ha</h2>
    <div id="myLinks">
            <a href="/">Home</a>
            <a href="/search">Search</a>
            <a href="/favourite">Favourite</a>
            <a href="/about-us">About us</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
